<div class="blog-header">
  <div class="container">
    <h1 class="blog-title"><%= @user_settings.blog_title %></h1>
    <p class="lead blog-description"><%= @user_settings.subtitle %></p>
  </div>
</div>
